/* ColorInsertEditor styles */

.app-container {
  /* width: 800px; */
  height: 600px;
  /* margin: 0 auto; */
  padding: 0;
  background-color: gray;

  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  grid-template-areas:
    "options preview";
  justify-items: center;
  align-items: center;
}

.app-container .container-item {
  margin-bottom: 10px;
}

.app-container .options {
  grid-area: options;
  background-color: aqua;
}

.app-container .preview {
  grid-area: preview;
  background-color: lightgreen;
}

.app-container .window {
  background-color: blue;
}

/* Window Size */

.window-size-container {
  display: flex;
  justify-content: space-around;
}
