/* ColorInsertEditor styles */

.app-container {
  width: 800px;
  /* height: 600px; */
  margin: 0 auto;
  padding: 0;

  /* display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  grid-template-areas:
    "options preview";
  justify-items: center;
  align-items: center; */
  border: 2px solid gray;
}

/* .app-container .options {
  grid-area: options;
  background-color: lightsteelblue;
}

.app-container .preview {
  grid-area: preview;
  align-self: center;
} */

/* Window Size */

.window-size-container {
  display: flex;
  justify-content: space-around;
}

.app-container .type-toggle {
  display: flex;
  justify-content: space-around;
}