.preview-container {
  display: grid;
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "sector1 sector2 sector3 sector4 sector5"
    "sector6 window1 sector7 window2 sector8"
    "sector9 sector10 sector11 sector12 sector13";
  margin-bottom: 20px;  
}

.preview-container:last-child {
  margin-bottom: 0;  
}

.preview-container .window1 {
  grid-area: window1;
  background-color: darkgray;
  margin: 10px;
}

.preview-container .window2 {
  grid-area: window2;
  background-color: darkgray;
  margin: 10px;
}

.preview-container .preview-container-item {
  background-color: darkslategray;
  /* border: 2px solid black; */
}

.preview-container .sector3 {
  height: 20px;
}

.preview-container .sector6 {
  width: 20px;
}

.preview-container .sector7 {
  width: 20px;
}

.preview-container .sector8 {
  width: 20px;
}

.preview-container .sector11 {
  height: 20px;
}