.preview-container {
  position: absolute;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "sector1 sector2 sector3 sector4 sector5"
    "sector6 window1 sector7 window2 sector8"
    "sector9 sector10 sector11 sector12 sector13";
}

.preview-container:last-child {
  margin-bottom: 0;  
}

.preview-container .window1 {
  grid-area: window1;
  background-color: darkgray;
}

.preview-container .window2 {
  grid-area: window2;
  background-color: darkgray;
}

.preview-container .preview-container-item {
  background-color: darkslategray;
  position: relative;
}

.preview-container .preview-container-item:hover {
  box-shadow: inset 0px 0px 0px 2px darkgray;
}

.preview-container .grid-item {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
}

.preview-container .sector1-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector2-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector3-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector4-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector5-grid-mask {
  left: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector6-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector7-grid-mask {
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector8-grid-mask {
  left: 0;
  bottom: 0;
  border: 1px solid black;
}

.preview-container .sector9-grid-mask {
  right: 0;
  top: 0;
  border: 1px solid black;
}

.preview-container .sector10-grid-mask {
  right: 0;
  top: 0;
  border: 1px solid black;
}

.preview-container .sector11-grid-mask {
  right: 0;
  top: 0;
  border: 1px solid black;
}

.preview-container .sector12-grid-mask {
  right: 0;
  top: 0;
  border: 1px solid black;
}

.preview-container .sector13-grid-mask {
  left: 0;
  top: 0;
  border: 1px solid black;
}