.preview-container {
  position: absolute;
  display: grid;
  /* width: 720px;
  height: 600px; */
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "sector1 sector2 sector3 sector4 sector5"
    "sector6 window1 sector7 window2 sector8"
    "sector9 sector10 sector11 sector12 sector13";
  margin-bottom: 20px;  
}

.preview-container:last-child {
  margin-bottom: 0;  
}

.preview-container .window1 {
  grid-area: window1;
  background-color: darkgray;
  margin: 10px;
}

.preview-container .window2 {
  grid-area: window2;
  background-color: darkgray;
  margin: 10px;
}

.preview-container .preview-container-item {
  background-color: darkslategray;
  position: relative;
  /* border: 2px solid black; */
}

.preview-container .preview-container-item:hover {
  /* border: 2px solid black; */
  box-shadow: inset 0px 0px 0px 2px black;
}

.preview-container .sector1-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector2-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 480px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector5-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  left: 0;
  bottom: 0;
}

.preview-container .sector6-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 360px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector8-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 360px;
  border: 1px solid black;
  left: 0;
  bottom: 0;
}

.preview-container .sector9-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector10-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 480px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector13-window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  left: 0;
  top: 0;
}

.preview-container .sector1-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector2-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 300px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector3-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 60px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector4-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector5-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  left: 0;
  bottom: 0;
}

.preview-container .sector6-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 360px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector7-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 60px;
  height: 360px;
  border: 1px solid black;
  right: 0;
  bottom: 0;
}

.preview-container .sector8-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 360px;
  border: 1px solid black;
  left: 0;
  bottom: 0;
}

.preview-container .sector9-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector10-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 300px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector11-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 60px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector12-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  right: 0;
  top: 0;
}

.preview-container .sector13-double_window-grid-mask::after {
  position: absolute;
  display: block;
  content: '';
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  left: 0;
  top: 0;
}