/* SizeOptionsPanel style */
.container-window-options {
  position: relative;
  display: grid;
  grid-template-columns: 65px 720px 65px;
  grid-template-rows: auto 600px auto;
  grid-template-areas:
    ". topSide tools"
    "leftSide preview rightSide"
    ". bottomSide .";
    justify-items: center;
    align-items: center;
  
  margin: 0 auto;
  margin-bottom: 5px;
}

/* Side options style */

.side-options-container {
  display: flex;
}

.side-options-container-item {
  margin-right: 3px;
}

.side-options-container-item input,
.side-options-container-item label  {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: center;
  width: 40px;
  height: 20px;
}