.texture-panel-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.texture-panel-container .texture-panel-container-item {
  margin-right: 5px;
}

.texture-panel-container .texture-name {
  width: 250px;
  overflow: hidden;
}

.texture-panel-container .custom-file {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;

  opacity: 0;
}

.texture-panel-container .custom-file-input {
  display: block;
  width: 40px;
  height: 40px;
}

.texture-panel-container .custom-file-input::after {
  display: block;
  content: '';
 
  position: absolute;
  top: 0;
  z-index: 50;

  width: 40px;
  height: 40px;

  cursor: pointer;
}

.texture-panel-container .imgPreview {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 85px;
  width: 85px;
  background-color: gray;
  border: 2px solid gray;
  
  cursor: pointer;
}

.texture-panel-container .imgPreview img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.texture-panel-container .centerText {
  text-align: center;
  width: 500px;
}

.texture-panel-container .preview-list {
  position: absolute;
  left: -5%;
  top: 110%;
  z-index: 10;

  width: 300px;
  height: 300px;

  overflow-y: scroll;
  overflow-x: auto;
  border: 2px solid gray;
  background-color:lightgray;
}

.texture-panel-container .preview-list .preview-history-wrapper {
  position: relative;
  height: 60px;

  margin-top: -1px;
  margin-left: 2px;
}


.texture-panel-container .preview-list .preview-history {
  position: fixed;
  width: 278px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.texture-panel-container .preview-list .preview-history .preview-history-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 3px;
  margin-right: 3px;
}

.texture-panel-container .preview-list .preview-history .preview-history-item:hover{
  border: 2px solid gray;
}

.texture-panel-container .preview-list .preview-history .preview-history-item img {
  width: 100%;
  height: 100%;
}

.texture-panel-container .preview-list p{
  display: inline-block;
  line-height: 2;
  margin-left: 5px;
}

.texture-panel-container .preview-list .preview-list-item{
  display: inline-block;
  margin-left: 5px;
  display: flex;
  justify-content: flex-start;
}

.texture-panel-container .preview-list .preview-list-item:first-child {
  margin-top: 60px;
}

.texture-panel-container .preview-list .preview-list-item:hover {
  background-color: whitesmoke;
}

.texture-panel-container .preview-list .preview-list-item img{
  display: inline-block;
  padding: 1px;
  margin: 1px;
  width: 30px;
  height: 30px;
}