.texture-panel-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.texture-panel-container .fileInput {
  margin: 15px;
  width: 105px;
  cursor: pointer;
}
.texture-panel-container .imgPreview {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 100px;
  width: 100px;
  background-color: gray;
  border: 5px solid gray;
}

.texture-panel-container .imgPreview img {
  height: 100%;
}

.texture-panel-container .centerText {
  text-align: center;
  width: 500px;
}
